.main-section
{
    margin: 40px 0;    
}

.main-menu-item
{
    display: list-item;
    list-style: none;
}

.main-right-section
{
    margin: 0 40px;
}
.search-form
{
    margin: 40px 0;
}

.link-column
{
    width: 10%;
}

.form-section
{
    display: block;
}
